<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8" />
    <title>进销存</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./Iconfont/iconfont.css?ver=20170718" />
    <link rel="stylesheet" href="./Css/font-awesome.min.css?ver=20170718" />
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./Area/Login/Css/login.css?ver=20170718" />
    <link rel="stylesheet" href="./Css/global.css?ver=20170718" />
    <link rel="stylesheet" href="./Css/layout.css?ver=20170718" />
    <link rel="stylesheet" href="./Css/color.css?ver=20170718" />

</head>

<body>
    <div class='login'>
        <el-form :model="ruleForm" ref="ruleForm" :rules="loginRules">
            <el-form-item prop="userName">
                <el-input placeholder="请输入帐号" v-model="ruleForm.userName" auto-complete="on">
                    <template slot="prepend">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </template>
                </el-input>
            </el-form-item>
            <el-form-item prop="passWord">
                <el-input type="password" placeholder="请输入密码" v-model="ruleForm.passWord" auto-complete="off" @keyup.enter.native="handleLogin">
                    <template slot="prepend">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </template>
                </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="handleLogin">登录</el-button>
            </el-form-item>
        </el-form>       
    </div>
</body>

</html>
<script src="./Js/vue.js?ver=20170916"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./Js/jquery.min.js?ver=20170916"></script>
<script src="./Js/layer/layer.js?ver=20170916"></script>
<script src="./Js/ajaxData.js?ver=20170916"></script>
<script src="./Area/Login/Js/Login.js?ver=20170916"></script>

